body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif !important;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/30/20/44/computer-1873831_960_720.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar{
    z-index: 9999;
}

.navbar .container-fluid{
    background-image: url(https://images.pexels.com/photos/10845119/pexels-photo-10845119.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    margin-top: 80px
}

.navbar .navbar-nav .nav-item a{
    color: #dfbcf2;
    transition: all;
    border-radius: 10px;
}

.navbar .navbar-nav .nav-item a:hover{
    color: #fbf0ff;
    background-color: #761282;
    border-radius: 0;
}

.navbar .container-fluid .navbar-brand img{
    width: 170px;
}

nav div form, button.btn-login{
    align-items: flex-end;
}

.btn a, .btn{
    width: 75px;
    color: #dfbcf2 !important;
    border-color: #fbf0ff !important;
    text-decoration: none;
}

.btn a:hover, .btn:hover{
    background-color: #761282 !important;
    box-shadow: #fbf0ff  !important;
    border: none;
}

footer{
    background-color: #474547;
    width: 100%;
    height: 190px;
    color: #ffffff;
    text-align: center;
}

footer p a{
    text-decoration: none;
    color: #ffffff;
}

footer p a:hover{
    background-color: #dfbcf2;
    color: #761282;
    background-size: 10px;
}

footer a.p-left{
    text-align: left;
}


footer p .contacto a.p-right{
    text-align: right;
}


@media (max-width: 952px) {

    body{
        margin: 0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif !important;
        background-image: url(https://cdn.pixabay.com/photo/2019/06/17/19/48/source-4280758_960_720.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .navbar .container-fluid{
        width: 100%;
    }

    .navbar .container-fluid .navbar-toggler .navbar-toggler-icon{
        margin-top: 10px;
    }

    footer{
        width: 100%;
        height: 190px;
        margin-top: -90px;
    }
}