body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif !important;
    color: #ffffff !important;
}

/*navbar*/

.navbar-brand{
    width: 160px;
    height: auto;
}

.container-fluid .collapse .navbar-nav .nav-item .nav-link .img-fluid{
    width: 35px;
    height: auto;
}


/* body */

/*experiencia*/

.helenv{
    width: 150px;
}

.color-bienvenido{
    color: #de4040;
}

a{
    list-style: none !important;
    text-decoration: none !important;
    color: #4d4c4c !important;
}

a:hover{
    text-decoration: none !important;
    list-style: none !important;
    color: #000000 !important;
}

/*footer*/
